doctype html
html(lang='en')
    head
        title 7th Sword
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(http-equiv='X-UA-Compatible', content='ie=edge')

        link(rel='manifest', href='/manifest.json')
        meta(name='apple-mobile-web-app-capable', content='yes')

        link(rel='icon' href='assets/logo.png')


        script(src='scripts/pixi.js')
        script(src='scripts/scene.js')
        script(src='scripts/manager.js')

        script(src='scripts/ability.js')
        script(src='scripts/character.js')
        script(src='scripts/combat.js')
        script(src='scripts/game.js')
        script(src='scripts/init.js')
        script(src='scripts/interface.js')
        script(src='scripts/level.js')
        script(src='scripts/menu.js')
        script(src='scripts/statemachine.js')        
        //script(src='scripts/world.js')



        
        


        //script(src='animationLib.js')
        //script(src='script.js')
        link(rel='stylesheet', href='css/stylus.css')
    body
        .main