doctype html
html(lang='en')
    head
        title 7th Sword
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(http-equiv='X-UA-Compatible', content='ie=edge')
        script(src='pixi/pixi.js')
        script(src='utilities.js')
        script(src='animationLib.js')
        script(src='script.js')
        //link(rel='stylesheet', href='css/styles.css')
    body
        .main