doctype html
html(lang='en')
    head
        title 7th Sword
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(http-equiv='X-UA-Compatible', content='ie=edge')

        // Apple stuff
        link(rel='manifest', href='/manifest.json')
        meta(name='apple-mobile-web-app-capable', content='yes')
        link(rel='icon' href='assets/logo.png')
        link(rel="apple-touch-icon", href='assets/logo.png')
        link(rel="apple-touch-startup-image", href="assets/island.png")
        meta(name="apple-mobile-web-app-status-bar-style", content="black-translucent")



        script(src='scripts/pixi.js')
        script(src='scripts/scene.js')
        script(src='scripts/manager.js')

        script(src='scripts/ability.js')
        script(src='scripts/character.js')
        script(src='scripts/combat.js')
        script(src='scripts/game.js')
        script(src='scripts/init.js')
        script(src='scripts/interface.js')
        script(src='scripts/level.js')
        script(src='scripts/levels/level001.js')   
        script(src='scripts/levels/level002.js')       
        script(src='scripts/levelManager.js')
        script(src='scripts/menu.js')
        script(src='scripts/statemachine.js') 


        
        


        //script(src='animationLib.js')
        link(rel='stylesheet', href='css/stylus.css')
    body
        .main