doctype html
html(lang='en')
    head
        title 7th Sword
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(http-equiv='X-UA-Compatible', content='ie=edge')

        // Apple stuff
        link(rel='manifest', href='/manifest.json')
        meta(name='apple-mobile-web-app-capable', content='yes')
        link(rel='icon' href='assets/logo.png')
        link(rel="apple-touch-icon", href='assets/logo.png')
        link(rel="apple-touch-startup-image", href="assets/island.png")
        meta(name="apple-mobile-web-app-status-bar-style", content="black")


        // libraries
        script(src='scripts/pixi/pixi.js')
        script(src='scripts/pixi/pixi-particles.js')
        script(src='scripts/pixi/howler.js')


        // base types + settings
        script(src='scripts/settings.js')
        script(src='scripts/scene.js')
        script(src='scripts/stage.js')
        script(src='scripts/stageManager.js')


        script(src='scripts/abilities/ability.js')
        script(src='scripts/abilities/attack_Basic.js')
        script(src='scripts/abilities/attack_Choice.js')
        script(src='scripts/abilities/attack_Emberblade.js')
        script(src='scripts/abilities/attack_Fireball.js')
        script(src='scripts/abilities/attack_FireRing.js')
        script(src='scripts/abilities/attack_Swipe.js')
        script(src='scripts/animations.js')
        script(src='scripts/background.js')
        script(src='scripts/buffs/buff.js')
        script(src='scripts/characters/character.js')
        script(src='scripts/characters/enemy.js')
        script(src='scripts/characters/enemy_knight.js')
        script(src='scripts/characters/hero.js')
        script(src='scripts/combat.js')
        script(src='scripts/dialog.js')
        script(src='scripts/game.js')
        script(src='scripts/init.js')
        script(src='scripts/levels/level.js')
        script(src='scripts/levels/level001.js')   
        script(src='scripts/levels/level002.js')
        script(src='scripts/levels/level003.js')
        script(src='scripts/levels/levelTest.js')          
        script(src='scripts/levels/levelManager.js')
        script(src='scripts/menus/menu.js')
        script(src='scripts/menus/menu_IntroScreen.js')
        script(src='scripts/menus/menu_LevelSelection.js')
        script(src='scripts/menus/menu_Options.js')
        script(src='scripts/menus/menu_Hero.js')
        script(src='scripts/statemachine.js')
        script(src='scripts/stats.js')
        script(src='scripts/UI/abilityButton.js')
        script(src='scripts/UI/button.js')
        script(src='scripts/UI/healthbar.js')
        script(src='scripts/UI/interface.js')
        script(src='scripts/utilities.js')

        



        
        


        //script(src='animationLib.js')
        link(rel='stylesheet', href='css/stylus.css')
    body
        .main